.selectButton {
  border-radius: var(--borderRadius);
  color: var(--primaryText);
  text-transform: capitalize;
  width: 100%;
  padding: 0.5rem 0;
}

@media screen and (max-height: 600px) {
  .selectButton {
    padding: 0.05rem 0;
  }
}
