.gameOver {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.95);
}

.gameOver h1 {
  font-size: clamp(3rem, 15vw, 4rem);
  margin-bottom: 3rem;
  color: var(--primary);
  filter: drop-shadow(1px 1px 10px var(--secondary));
}

.gameOver h2 {
  font-size: 1.75rem;
}

.gameOver output {
  display: block;
  font-size: 2.5rem;
  text-align: center;
}

.scores {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 85vw;
  max-width: 350px;
  padding: 2rem 1.75rem;
  border: 3px solid var(--white);
  border-radius: var(--borderRadius);
  margin-bottom: 3rem;
}

.divider {
  height: 80%;
  width: 3px;
  background-color: var(--primary);
}

.gameOver button {
  max-width: 310px;
}

@media screen and (max-width: 600px) {
  .gameOver {
    height: calc(-webkit-fill-available - 20vh);
  }
}
