.logo {
  /* margin-top: 2rem; */
  width: 90vw;
  max-width: 500px;
  object-fit: contain;
  filter: drop-shadow(3px 3px 100px var(--secondary));
  transform: scale(0);
  animation: grow 150ms ease-in-out forwards;
  animation-delay: 200ms;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .logo {
    animation: none;
  }
}
