.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  padding: 2rem;
}

.logo {
  width: 30%;
  margin: 0 auto;
  filter: drop-shadow(3px 3px 10px var(--primary));
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    filter: drop-shadow(3px 3px 10px var(--primary));
  }
  50% {
    filter: drop-shadow(3px 3px 10px var(--secondary));
  }
  100% {
    filter: drop-shadow(3px 3px 10px var(--primary));
  }
}
