.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  padding: 2rem;
}

.logo {
  width: 30%;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 15px var(--secondary));
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    filter: drop-shadow(5px 5px 15px var(--secondary)) hue-rotate(0deg);
  }
  100% {
    filter: drop-shadow(5px 5px 15px var(--secondary)) hue-rotate(360deg);
  }
}
