.header {
  width: 100%;
  text-align: center;
}

.header label {
  color: var(--secondaryLight);
  font-size: 16px;
}

.header p {
  color: var(--secondaryLight);
  font-size: 16px;
  text-transform: capitalize;
}

/* must have this for the webkit styles to work below */
.header progress {
  width: 100%;
  border-radius: var(--borderRadius);
}

progress::-webkit-progress-bar {
  background-color: var(--background);
  border: 3px solid var(--primary);
  border-radius: var(--borderRadius);
  box-shadow: 1px 1px 15px 3px var(--secondary);
}

progress::-webkit-progress-value {
  background-color: var(--primary);
  transition: all 300ms linear;
}

/* for Firefox */
progress::-moz-progress-bar {
  background-color: var(--primary);
  border-radius: var(--borderRadius);
}

.question {
  line-height: 1.2;
}

.gameOver {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.95);
  border: 3px solid var(--white);
  border-radius: var(--borderRadius);
}

.gameOver h1 {
  font-size: 7vw;
  margin-bottom: 3rem;
  color: var(--primary);
  filter: drop-shadow(1px 1px 10px var(--secondary));
}

.scores {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 300px;
}

.divider {
  height: 80%;
  width: 3px;
  background-color: var(--primary);
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
