@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');

:root {
  --primary: #26a4ff;
  --correct: #29b858;
  --incorrect: #f6482f;
  --primaryText: #383838;
  --bold: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}
