@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

:root {
  --background: #000203;
  --primary: #42dbf1;
  --secondary: #6a47ed;
  --secondaryLight: #ccc0ff;
  --correct: #29b858;
  --incorrect: #f6482f;
  --primaryText: #1e1e1e;
  --white: #fff;
  --borderRadius: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--white);
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}
