@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

:root {
  --background: #000203;
  --primary: #42dbf1;
  --secondary: #6a47ed;
  --secondaryLight: #ccc0ff;
  --correct: #09e28f;
  --incorrect: #fd563c;
  --primaryText: #1e1e1e;
  --white: #fff;
  --borderRadius: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--white);
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

button:focus-visible {
  outline: 4px solid rgb(255, 221, 0);
  outline-offset: 3px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    height: 90vh;
    padding: 2rem;
  }
}
